section.page-lead {
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    color: #2f2f2f;
    line-height: 70px;
  }
  p {
    max-width: 846px;
    font-size: 14px;
    line-height: 18px;
    color: #636363;
    font-weight: 300;
  }
}
